body {
  font-family: sans;
}

div.body {
  width: 1000px;
  margin: auto;
}

.btn {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #CCCCCC;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.box {
  border: 1px solid #AAAAAA;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

canvas.track {
  border: 2px solid #CCCCCC;
}

.row_label {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  overflow: hide;
  word-wrap: break-word;
}

.row_content {
  display: inline-block;
}
